{% extends 'gls/index.html' %}
{% load static %}
{% block title %}О нас{% endblock %}
{% block content %} 
<h2 style="justify-content: center;text-align: center;margin-top: 30px;">О нас</h2>
<div class="about">
   <p style="
   width: 587px;
   color: #85859B;
   font-size: 15px;
   font-weight: 500;
   margin: 60px 0 0 100px;
   ">Simple - это компания, специализирующаяся на производстве качественной бумаги и концтоваров. Компания была основана с целью предоставления клиентам продукции высокого качества, которая удовлетворит их потребности в работе, творчестве и организации.

      Simple гордится своей репутацией производителя бумаги на основе прочных материалов, которая отличается от других брендов на рынке. Фирменный стиль и инновационные технологии делают Simple ведущими производителями в своей области.
      
      Одним из основных преимуществ компании Simple является использование только экологически чистых материалов в процессе производства. Для нас важна сохранность окружающей среды, поэтому мы уделяем особое внимание выбору и использованию натуральных ресурсов. Это помогает нам создавать продукцию, которая пользуется спросом со стороны клиентов, осознающих важность экологически ответственного подхода.
      
      Продуктовая линейка Simple включает в себя различные виды бумаги, такие как офисная, цветная, архивная, блокноты, записные книжки и многое другое. Мы также предлагаем широкий ассортимент концтоваров - ручки, карандаши, маркеры и различные аксессуары для офиса. Мы гарантируем, что наша продукция отвечает высоким стандартам качества, устойчивости и надежности.
      
      Команда Simple состоит из опытных и талантливых специалистов, которые постоянно стремятся к совершенству. Мы постоянно ищем новые решения и внедряем инновации, чтобы улучшить нашу продукцию и удовлетворить запросы наших клиентов. Мы гордимся тем, что наша компания способствует повышению эффективности работы многих организаций и помогает клиентам реализовывать свои идеи и проекты.
      
      Simple - это надежный партнер для всех, кто ищет качественную бумагу и концтовары. Мы стремимся предоставлять нашим клиентам продукцию, которая помогает им достигать успеха в работе и жизни.</p>
</div>

<div class="header-bottom" style='margin-top: 200px;'>
   <div>
      <img src="{% static 'gls/img/Frame 85.svg'%}" alt="">
   </div>
</div>
{% endblock %}